
name: Publish to NPM

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*' # This will run the workflow when you push a tag with a version format, like v1.0.0

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Install Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Run Deno build script
        run: deno task build-npm

      - name: Navigate to npm directory
        run: cd ./npm


      - name: Publish
        run: |
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > .npmrc
          if grep -qE "_authToken=.{1,}" .npmrc; then
            npm publish
          else
            echo "Failed to create .npmrc file" && exit 1
          fi
        working-directory: ./npm
        env:
          NPM_TOKEN: ${{ secrets.NPM_AUTOMATION_TOKEN }}

